#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.search {
  height: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h4 {
  margin: 0;
}